@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-dark: var(--accent-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 20%);
  --green-50: hsl(120, 43%, 93%);
  --green-100: hsl(120, 54%, 91%);
  --green-200: hsl(144, 55%, 81%);
  --green-300: hsl(144, 41%, 73%);
  --green-400: hsl(148, 36%, 65%);
  --green-500: hsl(140, 47%, 53%);
  --green-600: hsl(138, 56%, 43%);
  --green-700: hsl(140, 64%, 33%);
  --green-800: hsl(140, 65%, 26%);
  --green-900: hsl(143, 56%, 22%);
  --green-950: hsl(144, 46%, 18%);
  --accent: var(--green-500);
  --accent-light: var(--green-300);
  --accent-dark: var(--green-700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 4%);
    --foreground: hsl(0, 0%, 93%);
    --accent: var(--green-600);
    --accent-light: var(--green-500);
    --accent-dark: var(--green-800);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), 'Roboto', Arial, sans-serif;
}

.text-green-700 {
  color: var(--green-700);
}

.text-green-800 {
  color: var(--green-800);
}

.bg-green-700 {
  background-color: var(--green-700);
}

.bg-gray-100 {
  background-color: hsla(0, 0%, 0%, 0.05);
}

@media (prefers-color-scheme: dark) {
  .bg-gray-100 {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}
